{% load static %}

<div class="footer margin-top">
    <div class="container">
        <div class="row">
                <div class="col-md-2 col-sm-4 col-xs-12">
                    <div class="footer-inner">
                        <div class="footer-content">
                            <h4>Crawl - It</h4>
                                <address>City Berhampur <br>District Ganjam <br>India</address>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-md-push-8 col-sm-4 col-xs-12">
                    <div class="footer-inner">
                        <div class="footer-content">
                           <h4>CONTACT INFO</h4>
                            <p>
                                T:8327782768 <br>
                                E:monalisha.das@gmail.com <br>
                                W:www.monalishadas.com
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="footer-inner">
                        <div class="footer-content">
                        <ul class="social-media">
                            <li><a href="#"><i class="iconmoon-facebook"></i></a></li>
                            <li><a href="#"><i class="iconmoon-twitter"></i></a></li>
                            <li><a href="#"><i class="iconmoon-flickr2"></i></a></li>
                            <li><a href="#"><i class="iconmoon-dribbble3"></i></a></li>
                            <li><a href="#"><i class="iconmoon-pinterest"></i></a></li>
                            <li><a href="#"><i class="iconmoon-linkedin2"></i></a></li>
                        </ul>
                        <span class="copyright-mark">&copy; Monalisha Das</span>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
<a href="javascript:void(0)" class="scroll-top" id="scroll-top"><i class="pe-7s-angle-up"></i></a>