{% load static %}

<nav class=" topnav navbar navbar-expand-lg ">
   <div class="container-fluid">
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="logo">
      </div>
     <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a href="home.html"><img src="data:image/webp;base64,UklGRiYBAABXRUJQVlA4TBkBAAAvv0AnAJdApG0z/46Lzq5h/oUEyf/DGJ3/3JOMZAJHAABBst22zVNjQShIxP1vG1KSS5CeRPR/Auzf/79w89w/SOx5/wNLpX+oiGhjFyneEfqHAkhDIXyAiZ3/atcMH3lBRKRctPpI7HzuCSSXCYRGAHHZBoiZvQC7yywABIBoPqsL7aU6zapMwCR2cwfcdLN79M19/gFMpa1nioi2ioi6RujO27EAY20EEB8x7meIbhKzrQyQT7E6yixDODdWT+kFCyRPZYhn1gHUR0lVBdAzusJcXdTNdsoiZD8ltQvqAOohsQBiV9gK8+KiDdgvschrB1mGcE0dvFQHKJfY6iUrMNZLLHrJAqRr6uCdh/8321P/EPn3/99TAQA=" alt="" data-pagespeed-url-hash="2553996795" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"height="100px" width="100"></a>
       
       <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         <li class="nav-item">
           <a class="nav-link active" aria-current="page" href="#">Home</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#">Link</a>
         </li>
         <li class="nav-item">
           <a class="nav-link disabled">Disabled</a>
         </li>
       </ul>
       <form class="d-flex">
         <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
         <button class="btn btn-outline-success" type="submit">Search</button>
       </form>
     </div>
   </div>
 </nav>


